site_name: qsiparc
repo_url: https://github.com/GalKepler/qsiparc
site_url: https://GalKepler.github.io/qsiparc
site_description: A lightweight Python package for parcellating QSIPrep/QSIRecon diffusion MRI outputs into atlas-level summary tables.
site_author: Gal Kepler
edit_uri: edit/main/docs/
repo_name: GalKepler/qsiparc
copyright: Maintained by <a href="https://GalKepler.com">GalKepler</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/qsiparc"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/GalKepler/qsiparc
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/qsiparc

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
